/sourcedata
/derivatives
/derivatives/modeling
/code/derivatives/
/code/2_exploratory_data_analysis/derivatives/
**/__pycache__/
*.pyc
*.npz
\code\*.npz

.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
