# Core scientific stack
numpy
scipy
pandas
matplotlib

# ML / CV
torch
torchvision
scikit-learn
scikit-image
opencv-python
statsmodels


# Modeling / utilities
tqdm
seaborn
transformers

--extra-index-url https://download.pytorch.org/whl/nightly/cu128
torch==2.11.0.dev20260210+cu128
torchaudio==2.11.0.dev20260210+cu128
torchvision==0.26.0.dev20260209+cu128
